<div class="authorization">
    <script src="/scripts/auth/signout.js"></script>
    <p>Статус авторизации:</p> 
        {{#if authStatus }}
            <p>авторизован</p>
            <button onclick="submitSignOut()">Выйти</button>
        {{else}}
            <p>не авторизован</p>
            <div class="authLink">
                <a href="/login.html">Авторизоваться</a>
            </div>
        {{/if}}
</div>