<div class="authorization">
    <script src="/scripts/auth/signout.js"></script>
    {{#if STUserid}}
        <script>
            var username = undefined;
            var STUserid = '{{ STUserid }}';
            fetch(`/users/STUserid/${STUserid}`)
                .then((response => response.json()))
                .then((response) => {
                    document.getElementById('p_with_username').textContent += response.name;
                });
        </script>
    {{/if}}
    <p>Статус авторизации:</p> 
        {{#if authStatus }}
            <p id="p_with_username">авторизован как </p>
            <button onclick="submitSignOut()">Выйти</button>
        {{else}}
            <p>не авторизован</p>
            <div class="authLink">
                <a href="/login.html">Авторизоваться</a>
            </div>
        {{/if}}
</div>