<div id="nav-icon3" class="pushmenu" data-title="MENU">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <nav class="sidebar">
    <div class="text d-flex p-2">
      <h4>МЕНЮ САЙТА</h4>
      <div id="nav-icon3" class="pushmenu opened">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>	
    </div>
    <div class="menu-main-menu-container">
      <ul id="menu-main-menu">
        <li><a href="index.html">Главная</a></li>
        <li><a href="page.html">Галерея фотографий</a></li>
        <li><a href="plants.html">Таблица</a></li>
        <li><a href="dhtml.html">Страница с DHTML</a></li>
        <li><a href="promise.html">Страница с Promise</a></li>
        <li><a href="libusing.html">Библиотека CodeMirror</a></li>
      </ul>
  
      {{> auth }}
      
    </div>
</div>
    </div>
  </nav>    
  <div class="hidden-overley"></div>