<!DOCTYPE html>
<html lang="ru">
<head>
	<title>DHTML</title>
	<meta charset="utf-8"/>
	<meta name="author" content="Belonogov Evgeny"/>
	<meta name="description" content="This page contains dynamic html (DHTML)"/>
	<link rel="stylesheet" type="text/css" href="/styles/main.css">
	<script src="/scripts/dhtmlscript.js"></script>
    <script src="/scripts/script.js"></script>
</head>
<body>
    {{> menu }}

    <section>
        <h4>Создание таблицы с использованием DHTML</h4>
        <h5>Шаблон таблицы (количество строк и столбцов может быть любым):</h5>
        <table class="table-example">
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    
        <form name="tableParams" action="../scripts/dhtmlscript.js"> 
            <p>Количество строк таблицы 
                <input type="number" tabindex="1" min="1" size="3" name="rowsCount" placeholder="3" required>
            </p>
            <p>Количество столбцов таблицы 
                <input type="number" tabindex="2" min="1" size="3" name="colsCount" placeholder="3" required>
            </p>
            <span id="submit" tabindex="3"><input type="button" name="createButton" onclick="getParams()" value="Создать"></span>
            <span id="load" tabindex="4"><input type="button" name="loadButton" onclick="loadData()" value="Загрузить из хранилища"></span>
        </form>
    </section>
    <section id="dhtml-section" class="hidden">
        <h4>Результат:</h4>
        <div id="dhtmlDiv">
            <form name="tableContent">
                <table id="dTable">
                    <tbody id="dTableBody">
 
                    </tbody>
                </table>

                <template id="templateColumn">
                    <td style="text-align:center!important;">
                        <textarea name="tableTextarea"></textarea>
                    </td>
                </template>
                <br>
                <span id="textSubmit" class="hidden"><input type="button" name="drawButton" onclick="getText()" value="Отрисовка"></span>
            </form>
            <div id="saveDiv" style="display:none;">
                <form name="dataSaveForm">
                    <span id="dataSave"><input type="button" name="saveButton" value="Save data"></span>
                </form>
            </div>
        </div>
    </section>

    {{> footer }}
</body>
</html>
