<!DOCTYPE html>
<html lang="ru">
<head>
	{{> header this }}
</head>
<body class="photogallery">
	{{> menu }}

	<h2>Галерея фотографий</h2>
	<section class="gallery">
		<img src="../images/gallery/rat1.jpe">
		<img src="../images/gallery/rat2.jpeg">
		<img src="../images/gallery/rat3.jpg">
		<img src="../images/gallery/rat4.jpg">
		<img src="../images/gallery/rat5.jpg">
		<img src="../images/gallery/rat6.jpg">
		<img src="../images/gallery/rat7.jpg">
		<img src="../images/gallery/rat8.jpg">
		<img src="../images/gallery/rat9.jpg">
		<img src="../images/gallery/rat10.jpg">
		<img src="../images/gallery/rat11.jpg">
	</section>
	
	{{> footer }}
</body>
</html>